<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="icon" type="image/png" href="/fav-icon.png">

   <title>Admin Panel</title>
</head>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
   integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
   integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
   crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="/stylesheets/style.css">

<body>

   <div id="content">
      <script>
      </script>

      <!-- alert box -->
      <div
         class="alert d-none w-50 fixed-top opacity-75 fade mx-auto p-1 mt-2 d-flex justify-content-center align-content-center mt-4"
         role="alert" id="alertBox">
         <p class="text-center mt-3 mx-auto" id="alertText">alert text</p>
      </div>

      <!-- head navbar -->
      <section>
         <nav class="mb-4 bg-light mt-0 px-3">
            <div class="d-flex justify-content-between mt-1">
               <div class="lef">
                  <ul class="nav navb nav-tabs" id="myTab" role="tablist">
                     <li class="nav-item" role="presentation">
                        <form method="GET">
                           <button class="nav-link" data-bs-toggle="tab" data-bs-target="#home-tab-pane" role="tab"
                              aria-controls="home-tab-pane" aria-selected="true" type="submit"
                              formaction="/">Home</button>
                        </form>

                     </li>
                     <li class="nav-item" role="presentation">
                        <form method="GET">
                           <button class="nav-link" data-bs-toggle="tab" data-bs-target="#home-tab-pane" role="tab"
                              aria-controls="home-tab-pane" aria-selected="true" type="submit"
                              formaction="/explore/pages/1">Explore</button>
                        </form>
                     </li>
                     <form method="GET">
                        <button class="nav-link" data-bs-toggle="tab" data-bs-target="#home-tab-pane" role="tab"
                           aria-controls="home-tab-pane" aria-selected="true" type="submit"
                           formaction="/contact">Contact</button>
                     </form>
                     <form method="GET">
                        <button class="nav-link" data-bs-toggle="tab" data-bs-target="#home-tab-pane" role="tab"
                           aria-controls="home-tab-pane" aria-selected="true" type="submit"
                           formaction="/about">About</button>
                     </form>
                     <li class="nav-item" role="presentation">
                        <button class="nav-link" id="disabled-tab" data-bs-toggle="tab"
                           data-bs-target="#dashboard-tab-pane" type="button" role="tab"
                           aria-controls="disabled-tab-pane" aria-selected="true">Dashboard</button>
                     </li>
                     <form method="GET">
                        <button class="nav-link" data-bs-toggle="tab" data-bs-target="#my-articles-tab-pane" role="tab"
                           aria-controls="my-articles-tab-pane" aria-selected="true" type="submit"
                           formaction="/api/articles/pages/1">My
                           Articles</button>
                     </form>
                     <form method="GET">
                        <button class="nav-link tex.black active" data-bs-toggle="tab"
                           data-bs-target="#admin-panel-tab-pane" role="tab" aria-controls="my-articles-tab-pane"
                           aria-selected="true" type="submit" formaction="/api/users/adminPanel"><span
                              class="text-danger fw-bold">Admin
                              Panel</span></button>
                     </form>

               </div>
               <div class="righ">
                  <form class="d-flex justify-content-end" role="search">
                     <form method="GET">
                        <button class="btn btn-outline-danger mx-2" data-bs-toggle="tab" data-bs-target="#home-tab-pane"
                           role="tab" aria-controls="home-tab-pane" aria-selected="true" type="submit"
                           formaction="/api/users/logout">Logout</button>
                     </form>

                  </form>
               </div>
            </div>


            </ul>
            <div class="tab-content" id="myTabContent">
               <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab"
                  tabindex="0">
               </div>
               <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab"
                  tabindex="0">
               </div>
               <div class="tab-pane fade" id="contact-tab-pane" role="tabpanel" aria-labelledby="contact-tab"
                  tabindex="0">
               </div>
               <div class="tab-pane fade" id="disabled-tab-pane" role="tabpanel" aria-labelledby="disabled-tab"
                  tabindex="0">...
               </div>
            </div>
         </nav>
      </section>

      <!-- table of users -->
      <div class="container-lg mt-5">
         <table class="table table-hover  table-striped">
            <thead>
               <tr>
                  <th scope="col" class="text-center">#</th>
                  <th scope="col" class="text-center">FirstName</th>
                  <th scope="col" class="text-center">LastName</th>
                  <th scope="col" class="text-center">PhoneNumber</th>
                  <th scope="col" class="text-center">Gender</th>
                  <th scope="col" class="text-center">Role</th>
                  <th scope="col" class="text-center">SignUp Time</th>
                  <th scope="col" class="text-center">Articles</th>
                  <th scope="col" class="text-center">Comments</th>
                  <!-- <th scope="col" class="text-center">Last Time Visisted</th> -->
                  <th scope="col" class="text-center">Username</th>
               </tr>
            </thead>
            <tbody>
               <tr>
                  <th scope="row">1</th>
                  <td class="text-center">Reza</td>
                  <td class="text-center">Shojaie</td>
                  <td class="text-center">90123657899</td>
                  <td class="text-center">male</td>
                  <td class="text-center">admin</td>
                  <td class="text-center">2023/06/05</td>
                  <td class="text-center">2</td>
                  <td class="text-center">4</td>
                  <!-- <td class="text-center">2023/06/05</td> -->
                  <td class="text-center"><a class="text-decoration-none"
                        href="http://localhost:3000/api/users/user-info/6477d74e89385b94cb8319fe">reza32</a></td>

               </tr>
            </tbody>
         </table>
      </div>



</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
   integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
<!-- <script src="/javascripts/renderProfile.js"></script> -->

</html>